{% load static %}
<!DOCTYPE html>
<html lang="en" style="box-sizing: border-box; margin: 0; padding: 0;">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Your trusted and reliable escrow payment solution">
        <title>MyBalance</title>
        <link rel="shortcut icon" href="./assets/icons/Kura_favicon.png" type="image/x-icon">
        <link href="https://api.fontshare.com/v2/css?f[]=satoshi@700,500,300,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap">
    </head>
    <div class="gs">
        <div class="">
            <div class="aHl"></div>
            <div id=":px" tabindex="-1"></div>
            <div id=":pc" class="ii gt" jslog="20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTgwODgzNzc2NDE5MDMzNzg0NSJd; 4:WyIjbXNnLWY6MTgwODgzNzc2NDE5MDMzNzg0NSIsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLDBd">
                <div id=":pd" class="a3s aiL msg9218736030447053813">
                    <u></u>
                    <div
                        marginwidth="0"
                        marginheight="0"
                        style="background-color:#f7f7f7;padding:0;text-align:center;background:rgb(236,236,236)"
                        bgcolor="rgb(236,"
                    >
                        <table
                            border="0"
                            cellpadding="0"
                            cellspacing="0"
                            height="100%"
                            width="100%"
                            style="background:rgb(236,236,236)"
                            bgcolor="rgb(236,"
                        >
                            <tbody>
                                <tr>
                                    <td style="font-family:inherit">
                                        <table
                                            width="605"
                                            cellspacing="0"
                                            cellpadding="0"
                                            border="0"
                                            align="center"
                                            id="m_9218736030447053813web8ffa62b5-7258-42cc-ba53-7ae69638c1fe"
                                            style="height:100%;display:table;background-color:#ececec;min-width:605px"
                                            height="100%"
                                            bgcolor="#ECECEC"
                                        >
                                            <tbody>
                                                <tr>
                                                    <td id="m_9218736030447053813web8ffa62b5-7258-42cc-ba53-7ae69638c1fe-img" align="center" style="font-family:inherit;text-align:center;padding:15px 0px 15px 0px">
                                                        <a href="#m_9218736030447053813_" style="font-weight:inherit;border:none;text-decoration:none;color:inherit">
                                                            <img
                                                                border="0"
                                                                src="https://ci3.googleusercontent.com/meips/ADKq_NbH7SdGxPXpiDFW1agjQ469hMuA_Ca6F-g_gLJHLonEhGFejt84_v4rTROv-QVcXWlhNkfJ0YwoIELH937gHgh1Xj-i6wJlS9K4HlX_ONdh3sxrEg=s0-d-e1-ft#https://ibadantechexpo.com/wp-content/uploads/2024/06/ibte.png"
                                                                width="172"
                                                                height="auto"
                                                                style="border:none;display:inline-block;font-size:14px;font-weight:bold;height:auto;outline:none;text-decoration:none;text-transform:capitalize;vertical-align:middle;margin-right:10px;max-width:100%"
                                                                class="CToWUd"
                                                                data-bit="iit"
                                                            >
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-family:inherit">
                                        <table
                                            width="605"
                                            cellspacing="0"
                                            cellpadding="0"
                                            border="0"
                                            align="center"
                                            id="m_9218736030447053813web802bfe24-7af8-48af-ac5e-6560a81345b3"
                                            style="height:100%;display:table;background-color:#224093;min-width:605px"
                                            height="100%"
                                            bgcolor="#224093"
                                        >
                                            <tbody>
                                                <tr>
                                                    <td id="m_9218736030447053813web-802bfe24-7af8-48af-ac5e-6560a81345b3el-text" align="left" style="font-size:13px;line-height:22px;font-family:Trebuchet MS,Helvetica,sans-serif;padding:36px 48px 36px 48px;color:#ffffff">
                                                        <div style="min-height:10px">
                                                            <h1 style="color:#7f54b3;font-size:30px;font-weight:300;line-height:150%;margin:0px;text-align:center;font-family:Trebuchet MS,Helvetica,sans-serif">
                                                                <span style="color:#ffffff">Your Ticket for Ibadan Tech Expo 2024</span>
                                                            </h1>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-family:inherit">
                                        <table
                                            width="605"
                                            cellspacing="0"
                                            cellpadding="0"
                                            border="0"
                                            align="center"
                                            id="m_9218736030447053813webca0150ca-4030-4785-96dc-0029ab2e047b"
                                            style="height:100%;display:table;background-color:#fff;min-width:605px"
                                            height="100%"
                                            bgcolor="#fff"
                                        >
                                            <tbody>
                                                <tr>
                                                    <td id="m_9218736030447053813web-ca0150ca-4030-4785-96dc-0029ab2e047bel-text" align="left" style="font-size:13px;line-height:22px;font-family:Trebuchet MS,Helvetica,sans-serif;padding:20px 20px 20px 20px;color:#636363">
                                                        <div style="min-height:10px">
                                                            <p style="line-height:1.8;margin:0">
                                                                <span style="font-size:18px;color:#000000">Dear
                                                                    <strong>{{name}},</strong>
                                                                </span>
                                                            </p>
                                                            <p style="line-height:1.8;margin:0">&nbsp;</p>
                                                            <p style="line-height:1.8;margin:0">
                                                                <span style="font-size:18px;color:#000000">Thank you for purchasing a ticket to the Ibadan Tech Expo 2024!</span>
                                                            </p>
                                                            <p style="line-height:1.8;margin:0">
                                                                <span style="font-size:18px;color:#000000">We are thrilled to have you join us for this exciting event.</span>
                                                            </p>
                                                            <p style="line-height:1.8;margin:0">
                                                                <span style="font-size:18px;color:#000000">Below are the details of your tickets:</span>
                                                            </p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-family:inherit">
                                        <table
                                            width="605"
                                            cellspacing="0"
                                            cellpadding="0"
                                            border="0"
                                            align="center"
                                            id="m_9218736030447053813webad422370-f762-4a26-92de-c4cf3878h0oi"
                                            style="display:table;background-color:#fff;min-width:605px"
                                            bgcolor="#fff"
                                        >
                                            <tbody>
                                                <tr>
                                                    <td id="m_9218736030447053813web-ad422370-f762-4a26-92de-c4cf3878h0oi-order-item" align="left" style="font-size:13px;line-height:22px;font-family:Trebuchet MS,Helvetica,sans-serif;padding:20px 20px 20px 20px">
                                                        <div style="min-height:10px;color:#636363">
                                                            <p style="font-family:inherit;font-size:14px;line-height:150%;color:#636363;text-align:left;margin:0" align="left"></p>
                                                            <h2 style="text-align:inherit;margin-bottom:.83em;display:block;font-family:inherit;line-height:130%;margin:0 0 18px;font-size:18px;font-weight:700;color:#7f54b3">
                                                                <div style="font-family:Trebuchet MS,Helvetica,sans-serif">
                                                                    <h2 style="display:block;line-height:130%;font-family:inherit;text-align:inherit;margin:0px;font-weight:normal;font-size:18px;color:#7f54b3"><span>[Event Ticket Code : </span>{{event_ticket_code}}<span>]</span></h2>
                                                                </div>
                                                            </h2>
                                                            <div>
                                                                <table
                                                                    cellspacing="0"
                                                                    cellpadding="6"
                                                                    border="1"
                                                                    width="100%"
                                                                    style="border-collapse:separate;color:#636363;border:1px solid #e5e5e5;font-family:Trebuchet MS,Helvetica,sans-serif"
                                                                >
                                                                    <thead>
                                                                        <tr>
                                                                            <th
                                                                                colspan="1"
                                                                                scope="col"
                                                                                style="border:1px solid #e5e5e5;color:inherit;text-align:left;vertical-align:middle;padding:12px;font-size:14px;border-width:1px;border-style:solid;border-color:#e5e5e5"
                                                                                align="left"
                                                                            >
                                                                                Ticket Type
                                                                            </th>
                                                                            <th
                                                                                colspan="1"
                                                                                scope="col"
                                                                                style="border:1px solid #e5e5e5;color:inherit;text-align:left;vertical-align:middle;padding:12px;font-size:14px;border-width:1px;border-style:solid;border-color:#e5e5e5"
                                                                                align="left"
                                                                            >
                                                                                Quantity
                                                                            </th>
                                                                            <th
                                                                                colspan="1"
                                                                                scope="col"
                                                                                style="border:1px solid #e5e5e5;color:inherit;width:30%;text-align:left;vertical-align:middle;padding:12px;font-size:14px;border-width:1px;border-style:solid;border-color:#e5e5e5"
                                                                                width="30%"
                                                                                align="left"
                                                                            >
                                                                                Price
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody style="border-color:inherit">
                                                                        <tr style="border-color:inherit">
                                                                            <th colspan="1" style="border:1px solid #e5e5e5;color:inherit;text-align:left;font-weight:normal;vertical-align:middle;padding:12px;font-size:14px;border-width:1px;border-style:solid;border-color:#e5e5e5" align="left">
                                                                                <div style="padding:5px 0">
                                                                                    <span>{{event_ticket_type}}</span>
                                                                                </div>
                                                                            </th>
                                                                            <th colspan="1" style="border:1px solid #e5e5e5;color:inherit;text-align:left;font-weight:normal;vertical-align:middle;padding:12px;font-size:14px;border-width:1px;border-style:solid;border-color:#e5e5e5" align="left">
                                                                                {{ticket_quantity}}
                                                                            </th>
                                                                            <th colspan="1" style="border:1px solid #e5e5e5;color:inherit;text-align:left;font-weight:normal;vertical-align:middle;padding:12px;font-size:14px;border-width:1px;border-style:solid;border-color:#e5e5e5" align="left">
                                                                                <span>{{product_unit_price}}</span>
                                                                            </th>
                                                                        </tr>
                                                                    </tbody>
                                                                    <tfoot>
                                                                        <tr>
                                                                            <th
                                                                                scope="row"
                                                                                colspan="2"
                                                                                style="border:1px solid #e5e5e5;color:inherit;text-align:left;vertical-align:middle;padding:12px;font-size:14px;border-width:1px;border-style:solid;border-color:#e5e5e5;border-top-width:4px"
                                                                                align="left"
                                                                            >
                                                                                Subtotal:
                                                                            </th>
                                                                            <th style="border:1px solid #e5e5e5;color:inherit;font-weight:normal;text-align:left;vertical-align:middle;padding:12px;font-size:14px;border-width:1px;border-style:solid;border-color:#e5e5e5;border-top-width:4px" align="left">
                                                                                <span>{{amount_funded}}</span>
                                                                            </th>
                                                                        </tr>
                                                                        <tr>
                                                                            <th
                                                                                scope="row"
                                                                                colspan="2"
                                                                                style="border:1px solid #e5e5e5;color:inherit;text-align:left;vertical-align:middle;padding:12px;font-size:14px;border-width:1px;border-style:solid;border-color:#e5e5e5"
                                                                                align="left"
                                                                            >
                                                                                Payment method:
                                                                            </th>
                                                                            <th style="border:1px solid #e5e5e5;color:inherit;font-weight:normal;text-align:left;vertical-align:middle;padding:12px;font-size:14px;border-width:1px;border-style:solid;border-color:#e5e5e5" align="left">
                                                                                {{payment_type}}
                                                                            </th>
                                                                        </tr>
                                                                        <tr>
                                                                            <th
                                                                                scope="row"
                                                                                colspan="2"
                                                                                style="border:1px solid #e5e5e5;color:inherit;text-align:left;vertical-align:middle;padding:12px;font-size:14px;border-width:1px;border-style:solid;border-color:#e5e5e5"
                                                                                align="left"
                                                                            >
                                                                                Total:
                                                                            </th>
                                                                            <th style="border:1px solid #e5e5e5;color:inherit;font-weight:normal;text-align:left;vertical-align:middle;padding:12px;font-size:14px;border-width:1px;border-style:solid;border-color:#e5e5e5" align="left">
                                                                                <span>{{amount_funded}}</span>
                                                                            </th>
                                                                        </tr>
                                                                    </tfoot>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-family:inherit">
                                        <table
                                            width="605"
                                            cellspacing="0"
                                            cellpadding="0"
                                            border="0"
                                            align="center"
                                            id="m_9218736030447053813webb035d1f1-0cfe-41c5-b79c-0478f144ef5f"
                                            style="height:100%;display:table;background-color:#fff;min-width:605px"
                                            height="100%"
                                            bgcolor="#fff"
                                        >
                                            <tbody>
                                                <tr>
                                                    <td id="m_9218736030447053813web-b035d1f1-0cfe-41c5-b79c-0478f144ef5fel-text" align="left" style="font-size:13px;line-height:22px;font-family:Trebuchet MS,Helvetica,sans-serif;padding:20px 20px 20px 20px;color:#636363">
                                                        <div style="min-height:10px">
                                                            <p style="line-height:1.8;margin:0">
                                                                <span style="font-size:18px;color:#000000">Please ensure you have the ticket code ready for presentation upon arrival at the event.</span>
                                                                <br>
                                                                <br>
                                                                <span style="font-size:18px;color:#000000">If you have any questions or require further assistance, feel free to reach out to us via WhatsApp.</span>
                                                                <br>
                                                                <br>
                                                                <span style="font-size:18px;color:#000000">Here is our WhatsApp link -
                                                                    <a
                                                                        href="https://wa.link/jg7uzk"
                                                                        style="text-decoration:none;font-weight:inherit;color:inherit"
                                                                        target="_blank"
                                                                        data-saferedirecturl="https://www.google.com/url?q=https://wa.link/jg7uzk&amp;source=gmail&amp;ust=1725803529844000&amp;usg=AOvVaw0W6svKbCFoYt2hli-qu0-R"
                                                                    >https://wa.link/jg7uzk</a>
                                                                </span>
                                                            </p>
                                                            <p style="line-height:1.8;margin:0">
                                                                <span style="font-size:18px;color:#000000">
                                                                    <br>Do not forget that the;
                                                                </span>
                                                                <br>
                                                                <br>
                                                                <span style="font-size:18px">
                                                                    <strong>
                                                                        <span style="color:#000000">Date is - Saturday 28th September 2024</span>
                                                                    </strong>
                                                                </span>
                                                                <br>
                                                                <span style="font-size:18px">
                                                                    <strong>
                                                                        <span style="color:#000000">Venue is - International Conference Center, UI, Ibadan.</span>
                                                                    </strong>
                                                                </span>
                                                                <br>
                                                                <span style="font-size:18px">
                                                                    <strong>
                                                                        <span style="color:#000000">Time is - 9am prompt.</span>
                                                                    </strong>
                                                                </span>
                                                                <br>
                                                                <br>
                                                                <span style="font-size:18px;color:#000000">We look forward to welcoming you to the Ibadan Tech Expo 2024 and hope you have a fantastic experience!</span>
                                                            </p>
                                                            <p style="line-height:1.8;margin:0">&nbsp;</p>
                                                            <p style="line-height:1.8;margin:0">
                                                                <span style="font-size:18px;color:#000000">Best regards,</span>
                                                            </p>
                                                            <p style="line-height:1.8;margin:0">
                                                                <span style="font-size:18px;color:#000000">
                                                                    <br>Balogun Danjuma
                                                                </span>
                                                                <br>
                                                                <span style="font-size:18px;color:#000000">Convener</span>
                                                                <br>
                                                                <span style="font-size:18px;color:#000000">Ibadan Tech Expo</span>
                                                                <br>
                                                                <span style="font-size:18px;color:#000000">07062380867</span>
                                                                <br>
                                                                <span style="font-size:18px;color:#000000">
                                                                    <a
                                                                        href="http://www.IbadanTechExpo.com"
                                                                        style="text-decoration:none;font-weight:inherit;color:inherit"
                                                                        target="_blank"
                                                                        data-saferedirecturl="https://www.google.com/url?q=http://www.IbadanTechExpo.com&amp;source=gmail&amp;ust=1725803529844000&amp;usg=AOvVaw12RVWxQ9V0k8HGNYQNUle7"
                                                                    >www.IbadanTechExpo.com</a>
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-family:inherit">
                                        <table
                                            width="605"
                                            cellspacing="0"
                                            cellpadding="0"
                                            border="0"
                                            align="center"
                                            id="m_9218736030447053813webde242956-a617-4213-9107-138842oi4tch"
                                            style="display:table;background-color:#fff;min-width:605px"
                                            bgcolor="#fff"
                                        >
                                            <tbody>
                                                <tr>
                                                    <td id="m_9218736030447053813web-de242956-a617-4213-9107-138842oi4tch-billing-address" align="left" style="font-size:13px;line-height:22px;font-family:Verdana,Geneva,sans-serif;color:#636363;padding:15px 20px 15px 20px">
                                                        <div style="min-height:10px;height:100%;display:inline-block;width:100%" height="100%" width="100%">
                                                            <div style="color:#224093">
                                                                <div>
                                                                    <table style="width:100%;color:#224093;font-family:Verdana,Geneva,sans-serif" width="100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="font-family:inherit;width:100%" width="100%">
                                                                                    <h2 style="text-align:inherit;color:inherit;display:block;font-size:18px;font-weight:bold;line-height:130%;margin:0 10px 18px 0;font-family:Verdana,Geneva,sans-serif">
                                                                                        Attendee Details
                                                                                    </h2>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div style="border-color:#e5e5e5">
                                                                <table style="width:100%;color:#636363;border-color:#e5e5e5" width="100%">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td valign="top" style="font-family:inherit;width:100%;border-color:#e5e5e5" width="100%">
                                                                                <table
                                                                                    border="0"
                                                                                    style="width:100%;height:18px;border-collapse:collapse;line-height:22px;border-color:#e5e5e5;color:#636363"
                                                                                    width="100%"
                                                                                    height="18"
                                                                                >
                                                                                    <tbody>
                                                                                        <tr style="height:18px" height="18">
                                                                                            <td valign="top" style="font-family:inherit;height:18px;color:#636363;border-color:#e5e5e5" height="18">
                                                                                                <address style="padding:12px;border-style:solid;border-width:1px;border-color:#e5e5e5;font-family:Verdana,Geneva,sans-serif">
                                                                                                    <span style="font-size:14px">
                                                                                                        {{name}}
                                                                                                        <br>
                                                                                                        <a href="tel:08178135068" style="font-weight:normal;text-decoration:underline;color:inherit" target="_blank">{{phone_number}}</a>
                                                                                                        <br>
                                                                                                        <a href="mailto:devtosxn@gmail.com" style="font-weight:normal;text-decoration:underline;color:inherit" target="_blank">{{recipient}}</a>
                                                                                                    </span>
                                                                                                </address>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-family:inherit">
                                        <table
                                            width="605"
                                            cellspacing="0"
                                            cellpadding="0"
                                            border="0"
                                            align="center"
                                            id="m_9218736030447053813webb39bf2e6-8c1a-4384-a5ec-37663da27c8ds"
                                            style="height:100%;display:table;background-color:#fdb915;min-width:605px"
                                            height="100%"
                                            bgcolor="#FDB915"
                                        >
                                            <tbody>
                                                <tr>
                                                    <td id="m_9218736030447053813web-b39bf2e6-8c1a-4384-a5ec-37663da27c8dsel-text" align="left" style="font-size:13px;line-height:22px;font-family:Trebuchet MS,Helvetica,sans-serif;padding:10px 50px 10px 50px;color:#224093">
                                                        <div style="min-height:10px">
                                                            <p style="line-height:1.8;font-size:14px;text-align:center;margin:0" align="center">
                                                                <span style="font-size:15px">
                                                                    <strong>Ibadan Tech Expo 2024</strong>
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="yj6qo"></div>
                        <div class="adL"></div>
                    </div>
                    <div class="adL"></div>
                </div>
                <grammarly-extension data-grammarly-shadow-root="true" style="position: absolute; top: 0px; left: 0px; right: auto; pointer-events: none; z-index: auto;" class="dnXmp"></grammarly-extension>
            </div>
            <div class="WhmR8e" data-hash="0"></div>
        </div>
    </div>
</html>
