<!DOCTYPE html>
<html lang="en" style="box-sizing: border-box; margin: 0; padding: 0;">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Your trusted and reliable escrow payment solution">
  <title>MyBalance</title>
  <link rel="shortcut icon" href="./assets/icons/Kura_favicon.png" type="image/x-icon">
  <link href="https://api.fontshare.com/v2/css?f[]=satoshi@700,500,300,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap">
  <style>
@media (max-width:500px) {
  .body-text {
    font-size: 16px;
  }
}
</style>
</head>
<body style="box-sizing: border-box; margin: 0; background-color: white; font-family: 'Satoshi', sans-serif; font-weight: 400; font-size: 1.2em; color: #2a2929; line-height: 1.5; padding: 0 5%;">
  <main style="box-sizing: border-box; padding: 0; margin: 50px auto; max-width: 551px;">
    <!-- logo -->
    <div class="svg-container" style="box-sizing: border-box; padding: 0; width: fit-content; margin: 50px auto;">
      <img style="box-sizing: border-box; margin: 0; padding: 0; width: 197px; height: 43px;" src="http://cdn.mcauto-images-production.sendgrid.net/7c9d20db0abe7a84/b1e74786-012e-4d82-acd5-76c03a0d3ffe/677x157.png" width="197" height="43">
    </div>
    <!-- box -->
    <div class="box" style="box-sizing: border-box; margin: 0 auto 70px; padding: 31px; background-color: #fff; max-width: 551px; box-shadow: 0px 9.40171px 9.40171px -4.70085px rgba(0, 0, 0, 0.04), 0px 18.8034px 23.5043px -4.70085px rgba(0, 0, 0, 0.1); border-radius: 7px;">
      <h1 style="box-sizing: border-box; margin: 0; padding: 0; font-size: 36px; font-weight: 700; line-height: 48.6px; margin-bottom: 20px;">Verify your Email Address</h1>
      <p class="body-text" style="box-sizing: border-box; margin: 0; padding: 0; font-style: normal; font-weight: 400; font-size: 18px; line-height: 24px; color: #1E1E1E; max-width: 488px;">Hey <span class="customer-name" style="box-sizing: border-box; margin: 0; padding: 0;">{{name}},</span></p><br style="box-sizing: border-box; margin: 0; padding: 0;">
      <p class="body-text" style="box-sizing: border-box; margin: 0; padding: 0; font-style: normal; font-weight: 400; font-size: 18px; line-height: 24px; color: #1E1E1E; max-width: 488px;">Use the confirmation code below to verify your email and proceed to complete your account setup.</p>
      <div class="inner-box" style="box-sizing: border-box; position: relative; max-width: 321px; height: 80px; background-color: #FFF2E8; border-radius: 7px; padding: 13px 47px 13px 47px; margin: 30px auto 10px;">
        <p class="code" style="box-sizing: border-box; margin: 0; padding: 0; font-family: 'Inter', sans-serif; font-weight: 700px; font-size: 42px; line-height: 42px; color: #FD7E14; letter-spacing: 10px; width: fit-content; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">{{{otp}}}</p>
      </div>
      <p class="expire-time" style="box-sizing: border-box; margin: 0; padding: 0; text-align: center; margin-bottom: 30px;">Expires in 10 minutes.</p>
      <p class="box-footer" style="box-sizing: border-box; margin: 0; padding: 0; font-size: 13px; font-style: normal; font-weight: 400; line-height: 22px; color: #999999;">If you did not sign up for this account, you can ignore this email and the account will be deleted automatically after 5 days.</p>
    </div>
    <div class="footer-container" style="box-sizing: border-box; margin: 0; padding: 0 30px;">
    <img style="box-sizing: border-box; margin: 0; padding: 0; width: 120px; height: 27px;" src="http://cdn.mcauto-images-production.sendgrid.net/7c9d20db0abe7a84/b1e74786-012e-4d82-acd5-76c03a0d3ffe/677x157.png" width="120" height="27">
      <div class="social" style="box-sizing: border-box; padding: 0; display: flex; gap: 20px; font-weight: 700; margin: 20px 0; padding-bottom: 10px; border-bottom: 1px solid #EDEDED;">
        <a href="" style="box-sizing: border-box; margin: 0; padding: 0; text-decoration: none; line-height: 18px; font-size: 13px; color: #3A3A3A;">Instagram</a> <a href="" style="box-sizing: border-box; margin: 0; padding: 0; text-decoration: none; line-height: 18px; font-size: 13px; color: #3A3A3A;">Twitter</a> 
      </div>
      <p class="help" style="box-sizing: border-box; margin: 0; padding: 0; font-size: 13px; color: #3A3A3A; margin-bottom: 15px;">If you have questions or need help, don't hesitate to contact our support team!</p>
      <div class="company" style="box-sizing: border-box; margin: 0; padding: 0; display: flex; gap: 20px; font-weight: 700;">
        <a href="" style="box-sizing: border-box; margin: 0; padding: 0; text-decoration: none; line-height: 18px; font-size: 13px; color: #3A3A3A;">Terms & Conditions</a> <a href="" style="box-sizing: border-box; margin: 0; padding: 0; text-decoration: none; line-height: 18px; font-size: 13px; color: #3A3A3A;">Privacy policy</a> <a href="" style="box-sizing: border-box; margin: 0; padding: 0; text-decoration: none; line-height: 18px; font-size: 13px; color: #3A3A3A;">Contact us</a>
      </div>
      <p class="footer" style="box-sizing: border-box; margin: 0; padding: 0; font-size: 13px; font-weight: 500; color: #999999; margin-top: 50px;">This message was sent to <span class="user's-mail" style="box-sizing: border-box; margin: 0; padding: 0;">{{recipient}}</span>. If you don't want to receive these emails from My Balance in the future, you can <a class="Unsubscribe--unsubscribeLink" href="{{{profile_edit_url}}}" target="_blank" style="box-sizing: border-box; margin: 0; padding: 0; font-family: sans-serif; text-decoration: none;">
        edit your profile
      </a> or  <a class="Unsubscribe--unsubscribeLink" href="{{{unsubscribe}}}" target="_blank" style="box-sizing: border-box; margin: 0; padding: 0; font-family: sans-serif; text-decoration: none;">
        unsubscribe.
      </a></p>
    </div>
  </main>
</body>
</html>