{% load static %}
<!DOCTYPE html>
<html lang="en" style="box-sizing: border-box; margin: 0; padding: 0;">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Your trusted and reliable escrow payment solution">
        <title>MyBalance</title>
        <link rel="shortcut icon" href="./assets/icons/Kura_favicon.png" type="image/x-icon">
        <link href="https://api.fontshare.com/v2/css?f[]=satoshi@700,500,300,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap">
    </head>
    <div style="Margin:0;background:#f4f6f8!important;box-sizing:border-box;color:#9b9b9b;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0;min-width:100%;padding:0;text-align:left;width:100%!important">
        <table class="m_1927373898855945869body" style="Margin:0;background:#f4f6f8!important;border-collapse:collapse;border-spacing:0;color:#9b9b9b;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;font-size:14px;font-weight:400;height:100%;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;width:100%">
            <tbody>
                <tr style="padding:0;text-align:left;vertical-align:top">
                    <td align="center" valign="top" style="Margin:0;border-collapse:collapse!important;color:#9b9b9b;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                        <center style="min-width:580px;width:100%">
                            <!-- HEADER TEXT START -->
                            <span class="im">
                                <!-- LOGO TOP MARGIN -->
                                <table style="Margin:0 auto;border-collapse:collapse;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:100%">
                                    <tbody>
                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                            <td height="60px" style="Margin:0;border-collapse:collapse!important;color:#9b9b9b;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;font-size:60px;font-weight:400;line-height:60px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                                &nbsp;
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- MYB LOGO START -->
                                <table align="center" class="m_1927373898855945869container" style="Margin:0 auto;background:0 0;border-collapse:collapse;border-spacing:0;color:#9b9b9b;float:none;margin:0 auto;padding:0;padding-bottom:0;text-align:center;vertical-align:top;width:508px">
                                    <tbody>
                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                            <td style="Margin:0;border-collapse:collapse!important;color:#9b9b9b;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                                <table style="border-collapse:collapse;border-spacing:0;display:table;padding:0;text-align:left;vertical-align:top;width:100%">
                                                    <tbody>
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <th class="m_1927373898855945869small-12 m_1927373898855945869columns" style="Margin:0 auto;color:#9b9b9b;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:16px;padding-left:26px;padding-right:26px;text-align:left;width:554px">
                                                                <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                                    <tbody>
                                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                                            <th style="Margin:0;color:#9b9b9b;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
                                                                                <center style="min-width:502px;width:100%">
                                                                                    <img
                                                                                        style="box-sizing: border-box; margin: 0; padding: 0; width: 197px; height: 43px;"
                                                                                        src="http://cdn.mcauto-images-production.sendgrid.net/7c9d20db0abe7a84/b1e74786-012e-4d82-acd5-76c03a0d3ffe/677x157.png"
                                                                                        width="197"
                                                                                        height="43"
                                                                                    >
                                                                                </center>
                                                                            </th>
                                                                            <th style="Margin:0;color:#9b9b9b;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;width:0"></th>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </th>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- MYB LOGO END -->
                                <!-- <table align="center" class="m_1927373898855945869container" style="Margin:0 auto;background:#fefefe;background-color:#fff;border-collapse:collapse;border-spacing:0;border-top:6px solid #FD7E14;color:#9b9b9b;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:508px"> -->
                                <table align="center" class="m_1927373898855945869container" style="Margin:0 auto;background:#fefefe;background-color:#fff;border-collapse:collapse;border-spacing:0;border-top:6px solid #FFFFFF;color:#9b9b9b;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:508px">
                                    <tbody>
                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                            <td style="Margin:0;border-collapse:collapse!important;color:#FD7E14;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                                <table style="border-collapse:collapse;border-spacing:0;display:table;padding:0;text-align:left;vertical-align:top;width:100%">
                                                    <tbody>
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <th class="m_1927373898855945869small-12 m_1927373898855945869columns" style="Margin:0 auto;color:#9b9b9b;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:16px;padding-left:26px;padding-right:26px;text-align:left;width:554px">
                                                                <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                                    <tbody>
                                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                                            <th style="Margin:0;color:#9b9b9b;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
                                                                                <!-- SPACING -->
                                                                                <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                                                    <tbody>
                                                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                                                            <td height="21px" style="Margin:0;border-collapse:collapse!important;color:#9b9b9b;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;font-size:31px;font-weight:400;line-height:21px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                                                                                &nbsp;
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                                <!-- SPACING END -->
                                                                                <!-- <p style="Margin:0;Margin-bottom:10px;color:#12122c;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;font-size:16px;font-weight:600!important;letter-spacing:0;line-height:normal;margin:0;margin-bottom:10px;padding:0;text-align:center">-->
                                                                                <!--    Receipt from MYBALANCE-->
                                                                                <!--</p> -->
                                                                                <!-- SPACING -->
                                                                                <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                                                    <tbody>
                                                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                                                            <td height="14px" style="Margin:0;border-collapse:collapse!important;color:#9b9b9b;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;font-size:14px;font-weight:400;line-height:14px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                                                                                &nbsp;
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                                <!-- SPACING END -->
                                                                                <!-- <h1 style="Margin:0;Margin-bottom:10px;color:#12122c;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;font-size:34px;font-weight:600!important;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left;word-wrap:normal">
                                                                                    Verify One-time Login Code
                                                                                </h1> -->
                                                                                <!-- <p class="m_1927373898855945869nomText" style="Margin:0;Margin-bottom:10px;color:#4a4a4a;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;font-size:16px;font-weight:400!important;letter-spacing:0;line-height:1.5;margin:0;margin-bottom:10px;padding:0;text-align:left">
                                                                                    Hi {{name}},
                                                                                </p> -->
                                                                                <p class="m_1927373898855945869nomText" style="Margin:0;Margin-bottom:10px;color:#4a4a4a;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;font-size:16px;font-weight:400!important;letter-spacing:0;line-height:1.5;margin:0;margin-bottom:10px;padding:0;text-align:left">
                                                                                    Your confirmation code to {{action_description}}
                                                                                    <strong>{{merchant_platform}}</strong>
                                                                                    is
                                                                                </p>
                                                                                <div class="inner-box" style="box-sizing: border-box; position: relative; max-width: 321px; height: 80px; background-color: #FFF2E8; border-radius: 7px; padding: 13px 47px 13px 47px; margin: 30px auto 10px;">
                                                                                    <p class="code" style="box-sizing: border-box; margin: 0; padding: 0; font-family: 'Inter', sans-serif; font-weight: 700px; font-size: 42px; line-height: 42px; color: #FD7E14; letter-spacing: 10px; width: fit-content; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">{{otp}}</p>
                                                                                </div>
                                                                                <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                                                    <tbody>
                                                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                                                            <td height="20px" style="Margin:0;border-collapse:collapse!important;color:#9b9b9b;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;font-size:20px;font-weight:400;line-height:20px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                                                                                <p class="m_1927373898855945869nomText" style="Margin:0;Margin-bottom:10px;color:#4a4a4a;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;font-size:12px;font-weight:500!important;letter-spacing:0;line-height:1.5;margin:0;margin-bottom:10px;padding:0;text-align:center">
                                                                                                    <em>Expires in {{expiry_time_minutes}}.</em>
                                                                                                </p>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                                <hr style="border-top:solid 0 #dedddd;margin-left:40px;margin-right:40px">
                                                                            </th>
                                                                            <th style="Margin:0;color:#9b9b9b;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;width:0"></th>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </th>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </span>
                            <!-- HEADER TEXT END -->
                            <!-- FOOTER TEXT START -->
                            <span class="im">
                                <table align="center" class="m_1927373898855945869container" style="Margin:0 auto;background:#fefefe;border-collapse:collapse;border-spacing:0;color:#9b9b9b;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:508px">
                                    <tbody>
                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                            <td style="Margin:0;border-collapse:collapse!important;color:#9b9b9b;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                                <table style="border-collapse:collapse;border-spacing:0;display:table;padding:0;text-align:left;vertical-align:top;width:100%">
                                                    <tbody>
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <th class="m_1927373898855945869small-12 m_1927373898855945869columns" style="Margin:0 auto;color:#9b9b9b;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:37px;padding-left:26px;padding-right:26px;text-align:left;width:554px">
                                                                <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                                    <tbody>
                                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                                            <th style="Margin:0;color:#9b9b9b;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;font-size:12px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
                                                                                <!-- SOCIAL MEDIA LINKS START -->
                                                                                <table align="center" style="margin-bottom:25px;">
                                                                                    <tr>
                                                                                        <td style="padding: 0 10px;">
                                                                                            <a href="https://www.facebook.com/themybalanceapp" target="_blank" style="color: #FD7E14; text-decoration: none;">
                                                                                                <img src="https://res.cloudinary.com/db4mrl0xv/image/upload/v1717151788/SOCIAL%20MEDIA%20ICONS/PNG/facebook_gbnuen.png" style="width:24px; height: 24px;">
                                                                                            </a>
                                                                                        </td>
                                                                                        <td style="padding: 0 10px;">
                                                                                            <a href="https://www.instagram.com/mybalance_app" target="_blank" style="color: #FD7E14; text-decoration: none;">
                                                                                                <img src="https://res.cloudinary.com/db4mrl0xv/image/upload/v1717151788/SOCIAL%20MEDIA%20ICONS/PNG/instagram_fg5gpc.png" style="width:24px; height: 24px;">
                                                                                            </a>
                                                                                        </td>
                                                                                        <td style="padding: 0 10px;">
                                                                                            <a href="https://x.com/mybalance_app" target="_blank" style="color: #FD7E14; text-decoration: none;">
                                                                                                <img src="https://res.cloudinary.com/db4mrl0xv/image/upload/v1717151788/SOCIAL%20MEDIA%20ICONS/PNG/twitter_thhdoz.png" style="width:24px; height: 24px;">
                                                                                            </a>
                                                                                        </td>
                                                                                        <td style="padding: 0 10px;">
                                                                                            <a href="https://www.linkedin.com/company/mybalanceapp/" target="_blank" style="color: #FD7E14; text-decoration: none;">
                                                                                                <img src="https://res.cloudinary.com/db4mrl0xv/image/upload/v1717151788/SOCIAL%20MEDIA%20ICONS/PNG/linkedin_ypmzsy.png" style="width:24px; height: 24px;">
                                                                                            </a>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                                <!-- SOCIAL MEDIA LINKS END -->
                                                                                <p class="m_1927373898855945869nomText" style="Margin:0;Margin-bottom:10px;color:#999999;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;font-size:10px;font-weight:400;letter-spacing:0;line-height:normal;margin:0;margin-bottom:10px;padding:0;text-align:center">
                                                                                    If you didn't not initiate this withdrawal, please contact us immediately via
                                                                                    <a href="mailto:mybalance@oinvent.com" style="Margin:0;color:#FD7E14;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none" target="_blank">mybalance@oinvent.com</a>
                                                                                    .
                                                                                </p>
                                                                            </th>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </th>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- FOOTER TEXT BOTTOM SPACING START -->
                                <table align="center" class="m_1927373898855945869container" style="Margin:0 auto;background:0 0!important;border-collapse:collapse;border-spacing:0;color:#9b9b9b;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:508px">
                                    <tbody>
                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                            <td style="Margin:0;border-collapse:collapse!important;color:#9b9b9b;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                                <table style="border-collapse:collapse;border-spacing:0;display:table;padding:0;text-align:left;vertical-align:top;width:100%">
                                                    <tbody>
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <th class="m_1927373898855945869small-2 m_1927373898855945869columns" style="Margin:0 auto;color:#9b9b9b;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:16px;padding-left:26px;padding-right:13px;text-align:left;width:70.67px">
                                                                <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                                    <tbody>
                                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                                            <th style="Margin:0;color:#9b9b9b;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left"></th>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </th>
                                                            <th class="m_1927373898855945869small-8 m_1927373898855945869columns" style="Margin:0 auto;color:#9b9b9b;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:16px;padding-left:13px;padding-right:13px;text-align:left;width:360.67px">
                                                                <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                                    <tbody>
                                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                                            <th style="Margin:0;color:#9b9b9b;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;font-size:14px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
                                                                                <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                                                    <tbody>
                                                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                                                            <td height="12px" style="Margin:0;border-collapse:collapse!important;color:#9b9b9b;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;font-size:12px;font-weight:400;line-height:12px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                                                                                &nbsp;
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </th>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </th>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- FOOTER TEXT BOTTOM SPACING END -->
                            </span>
                            <!-- FOOTER TEXT END -->
                        </center>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="display:none;white-space:nowrap;font:15px courier;line-height:0">
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        </div>
    </div>
</html>
